* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px 15px;
  background-color: #232536;
  color: white;
}

.header ul {
  display: flex;
  align-items: center;
  gap: 0 20px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10%, 300px));
  grid-template-columns: repeat(4, 300px);
  gap: 20px;
  place-content: center;
}

.cards .card {
  border: 1px solid rgba(0, 0, 0, 0.147);
  border-radius: 8px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cards .card img {
  width: 100%;
}
